.add {
    width: 56px;
    height: auto;
    font-size: 20px;
    position: relative;
    left: 58px;
    top: 37px;
    background-color: #ffffff;
    border-radius: 10px;
}
.date{
    border:1px solid black;
    display:inline-block;
    padding:0px 10px;
}

.GPA {
    padding: 0px 10px;
}

.textbox{
    width:126.45px;
    height:51px;
    font-size:50px;
}
.kettei {
    position: relative;
    left: 35px;
    border-top: 2px solid rgba(255,255,255,0.2);
    border-radius: 4px;
}

input[type="number"] {
    -moz-appearance: textfield;
}

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
.time{
    font-size:10px;
}
.zikanwari {
    text-align: center;
    font-size: 30px;
    position: relative;
    top:30px;
}

.setting {
    position: relative;
    left:800px;
    top:24px;
    width:58px;
    height:58px;
}
a:visited {
    color: blue;
}
button:active {
    transform: translateY(2px);
    box-shadow: 0 2px 4px rgba(0,0,0,0.25);
}


